In [1]:
# 03_feature_engineering.ipynb
import pandas as pd

df = pd.read_csv('../data/cleaned_sales_data.csv', parse_dates=['date'])
df.sort_values('date', inplace=True)
df.set_index('date', inplace=True)

# Add moving averages
df['revenue_rolling_7'] = df['revenue'].rolling(window=7).mean()
df['revenue_rolling_30'] = df['revenue'].rolling(window=30).mean()

df.reset_index().to_csv('../data/cleaned_sales_data.csv', index=False)
df.tail()

,store,category,units_sold,revenue,revenue_rolling_7,revenue_rolling_30
date,,,,,,
2023-12-31,Store_A,Jeans,179,11380.43,14702.431429,11383.278333
2023-12-31,Store_A,T-Shirts,208,6207.05,12653.827143,11223.046000
2023-12-31,Store_E,Shoes,209,6993.84,12735.657143,11118.130333
2023-12-31,Store_C,Jeans,193,11699.21,12008.398571,10796.272333
2023-12-31,Store_E,Accessories,192,11810.78,11460.928571,11082.396000